<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <p>Hi, I'm Ravi Vegad, an Angular Developer with 2+ years of experience. Proficient in Angular, TypeScript, and
          modern web technologies. I specialize in crafting responsive and performant applications. Passionate about
          clean code, collaboration, and staying ahead in tech trends. Let's connect and build something great together!
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="../../../assets/img/Final_About-removebg.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3> Web Developer</h3>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.example.com</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +91 7990021211</li>
                <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Surat</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Master</li>
                <li><i class="bi bi-rounded-right"></i> <strong>PhEmailone:</strong> vegadravi84@gmail.com</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
          <!-- <p>
                Hello there! I'm Ravi, a seasoned Angular Developer with a passion for crafting dynamic and intuitive web applications. With over 2 years+ of experience in the field, I've had the opportunity to contribute to diverse projects, honing my skills and staying at the forefront of the ever-evolving tech landscape.
            </p> -->
          <b>**Key Strengths:**</b>
          <p>🚀 Proficient in Angular (8+), TypeScript, HTML5, CSS3, and JavaScript.</p>
          <p>🌐 Experienced in RESTful API integration and asynchronous programming.</p>
          <p>🎨 A knack for creating visually appealing, responsive designs.</p>
          <p>🤖 Familiar with tools like Webpack, Git, and testing frameworks like Jasmine and Karma.</p>

          <b>**Professional Journey:**</b>
          <p>I've had the privilege of working with Markettime b2b, where I played a crucial role in developing and
            maintaining robust Angular applications. Through collaboration with cross-functional teams, I've
            successfully implemented best practices, ensuring high-quality code and optimal application performance.</p>
          <b>**What Sets Me Apart:**</b>
          <p>I bring not only technical expertise but also a collaborative mindset. I thrive in Agile/Scrum
            environments, where teamwork and effective communication are key. I am always eager to take on new
            challenges, staying up-to-date with emerging technologies, and continuously seeking ways to enhance my
            skills.</p>
          <b>**Let's Connect:**</b>
          <p>I am open to new opportunities, collaborations, and connecting with like-minded professionals. Feel free to
            reach out if you want to discuss the latest Angular features, share coding experiences, or just have a good
            tech chat!</p>
          <p>Looking forward to the exciting journey ahead</p>
        </div>
        <div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">
          <div class="progress">
            <span class="skill">Angular <i class="val">87%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 87%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Typescript <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Firebase <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">HTML+CSS <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Database(MongoDB,mysql) <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Bootstrap <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">JavaScript <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Node + Express <i class="val">50%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Rxjs + lodash<i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Agile methodlogy <i class="val">50%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 50%;"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">git <i class="val">68%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 68%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Primeng <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End Skills Section -->
</main><!-- End #main -->
