
<section id="portfolio" class="portfolio" data-aos="fade-up">
    <div class="container">
      <div style="padding: 60px;">
        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        <div *ngFor="let work of workPortfolio; let i = index"  class="col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-wrap">
            <img [src]="work.imageSrc" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{ work.title }}</h4>
              <div class="portfolio-links">
                <a (click)="showBasicDialog2(i)" data-gallery="portfolioGallery" class="portfolio-lightbox" [title]="work.title"><i class="bx bx-show"></i></a>
              </div>
            </div>
            <p-dialog header="Project Details" [(visible)]="displayBasic2" [style]="{width: '50vw'}" [closable]="true" [draggable]="false" [blockScroll]="true" [closeOnEscape]="true" [modal]="true" [resizable]="true" [maximizable]="false">
              <p>{{selectedWork?.description}}</p>
              <!-- <ng-template pTemplate="footer">
                  <p-button icon="pi pi-check" (click)="displayBasic2=false" label="Ok" styleClass="p-button-text"></p-button>
              </ng-template> -->
          </p-dialog>
          </div>
        </div>
      </div>
    </div>
    </section>
