.btn-color{
  background-color: #5063F0;
  color: #fff;

}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  // background-color: #ebf2fa;
}

a{
  text-decoration: none;
}

.card{
  border: none !important;
  margin-right: 0px;
  margin-left: 0px;
}
