<section id="hero" class="d-flex align-items-center">
  <div class="video-container">
    <video autoplay muted loop playsinline id="video-background">
      <source src="assets/img/landingV1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="container d-flex flex-column align-items-center overlay-content" data-aos="zoom-in" data-aos-delay="100">
      <h1>Anonymous</h1>
      <h2 style="color: white;">"Craft Your Professional Identity: <span style="color: red;">Build</span>,<span style="color: #EFB702;">Showcase</span>,<span style="color: green;">Succeed</span>."</h2>
      <a (click)="goToLogin()" class="btn-about">Login</a>
    </div>
  </div>
</section>

<!-- <section id="hero" class="d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
    <h1>Anonymous</h1>
    <h2>"Craft Your Professional Identity: <span style="color: red;">Build</span>,<span style="color: #EFB702;">Showcase</span>,<span style="color: green;">Succeed</span>."</h2>
    <a (click)="goToLogin()" class="btn-about">Login</a>
  </div>
</section> -->



<p-dialog header="Login-Page"  [(visible)]="displayLoginDialog" [style]="{ width: '45vw' }" [closable]="true" [draggable]="false" [blockScroll]="true" [closeOnEscape]="true" [modal]="true" [resizable]="true" [maximizable]="false">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <form class="card-body cardbody-color">
            <div class="text-center">
              <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="User Name">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-color px-5 mb-3 w-100">Login</button>
            </div>
            <div id="emailHelp" class="form-text text-center mb-3 text-dark">
              Not Registered? <a href="#" class="text-dark fw-bold">Create an Account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

