<!-- <section id="hero" class="d-flex align-items-center">
  <div class="video-container">
    <video autoplay muted loop playsinline id="video-background">
      <source src="assets/img/landingV1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="container d-flex flex-column align-items-center overlay-content" data-aos="zoom-in" data-aos-delay="100">
      <h1>Anonymous</h1>
      <h2 style="color: white;">"Craft Your Professional Identity: <span style="color: red;">Build</span>,<span style="color: #EFB702;">Showcase</span>,<span style="color: green;">Succeed</span>."</h2>
      <a (click)="goToLogin()" class="btn-about">Login</a>
    </div>
  </div>
</section> -->

<!-- <section id="hero" class="d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
    <h1>Anonymous</h1>
    <h2>"Craft Your Professional Identity: <span style="color: red;">Build</span>,<span style="color: #EFB702;">Showcase</span>,<span style="color: green;">Succeed</span>."</h2>
    <a (click)="goToLogin()" class="btn-about">Login</a>
  </div>
</section> -->

  <!-- home
   ================================================== -->
   <section id="home" data-parallax="scroll" data-image-src="assets\img\hero-bg.jpg" data-natural-width=3000 data-natural-height=2000>

    <div class="overlay"></div>
    <div class="home-content">

        <div class="contents">
            <div class="home-content-left">

                <h3 data-aos="fade-up">Welcome to CreateMyFolio</h3>

                <h1 data-aos="fade-up">
                 You can create your own customize Portfolio...
                </h1>

                <div class="buttons" data-aos="fade-up">
                    <a href="#download" class="smoothscroll button stroke btn-home-button" (click)="goToLogin()">
                      <i class="bi bi-box-arrow-in-right mr-4"></i>
                        Sign-Up/Login
                    </a>
                    <a href="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=39b54a" data-lity class="button stroke btn-home-button">
                      <i class="bi bi-play-circle mr-4"></i>
                        Watch Video
                    </a>
                </div>
            </div>
            <div class="home-image-right">
                <img src="../assets/img/iphone-app-470.png">
            </div>

        </div>

    </div> <!-- end home-content -->

    <ul class="home-social-list">
        <li>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        </li>
        <li>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        </li>
        <li>
            <a href="#"><i class="bi bi-youtube-play"></i></a>
        </li>
        <li>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </li>
        <li>
          <a href="#" class="github"><i class="bi bi-github"></i></a>
        </li>
    </ul>

    <div class="home-scrolldown">
        <a href="#about" class="scroll-icon smoothscroll">
            <span>Scroll Down</span>
            <i class="bi bi-arrow-right"></i>
        </a>
    </div>

</section>


<!-- About -->
<!-- Sameer 2nd -->
 <!-- about
    ================================================== -->
    <section id="about">

      <div class="about-how">
          <h1 class="intro-header" data-aos="fade-up">How The App Works?</h1>

          <div class="about-how-content" data-aos="fade-up">
              <div class="about-how-steps block-1-2 block-tab-full group">

                  <div class="bgrid step" data-item="1">
                      <h3>Sign-Up</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                      </p>
                  </div>

                  <div class="bgrid step" data-item="2">
                      <h3>Upload</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                      </p>
                  </div>

                  <div class="bgrid step" data-item="3">
                      <h3>Create</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                      </p>
                  </div>

                  <div class="bgrid step" data-item="4">
                      <h3>Publish</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                      </p>
                  </div>

              </div>
         </div> <!-- end about-how-content -->

      </div> <!-- end about-how -->
    </section>

    <section id="call-action" class="call-action-area">
      <div class="container">
          <div class="row align-items-center container-row">
              <div class="col-lg-5">
                  <div class="call-action-content mt-45">
                      <h3 class="action-title">Get latest updates!</h3>
                      <p class="text">We never spam your email</p>
                  </div> <!-- call action content -->
              </div>
              <div class="col-lg-7">
                  <div class="call-action-form mt-50">
                      <form action="#">
                          <input type="text" placeholder="Enter your email">
                          <div class="action-btn rounded-buttons">
                              <button class="main-btn rounded-three">subscribe</button>
                          </div>
                      </form>
                  </div> <!-- call action form -->
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </section>

  <section id="download">

    <div class="download-row">
        <div class="col-full">
            <h1 class="intro-header"  data-aos="fade-up">Download Our App Today!</h1>

            <p class="lead" data-aos="fade-up">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>

            <ul class="download-badges">
                <li><a href="#" title="" class="badge-appstore"  data-aos="fade-up">App Store</a></li>
                <li><a href="#" title="" class="badge-googleplay" data-aos="fade-up">Play Store</a></li>
            </ul>

        </div>
    </div>

</section>

<p-dialog header="Login-Page"  [(visible)]="displayLoginDialog" [style]="{ width: '45vw' }" [closable]="true" [draggable]="false" [blockScroll]="true" [closeOnEscape]="true" [modal]="true" [resizable]="true" [maximizable]="false">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <form class="card-body cardbody-color">
            <div class="text-center">
              <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="User Name">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-color px-5 mb-3 w-100">Login</button>
            </div>
            <div id="emailHelp" class="form-text text-center mb-3 text-dark">
              Not Registered? <a href="#" class="text-dark fw-bold">Create an Account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

