<main id="main">

    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>
                <p>Welcome to my online resume! I am a dedicated professional with a passion for web development. I possess strong proficiency in languages such as HTML, CSS, JavaScript, and have hands-on experience with popular frameworks like React. Over the years, I've successfully contributed to various web projects, showcasing my ability to create responsive and user-friendly interfaces. My skills also extend to database management and server-side scripting. I am committed to staying updated on the latest industry trends and technologies, ensuring that I deliver high-quality solutions. Let's connect and explore how I can bring my skills and enthusiasm to your team!</p>
            </div>

            <div class="row" style="justify-content: center">
                
                <div class="col-lg-8">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Angular developer</h4>
                        <h5>08/2021 – present</h5>
                        <p><em>Markettime B2B, Vesu, Surat </em></p>
                        <p>
                            <ul>
                                <li>Developed project plans and managed project scope for all projects, using
                                    specific methodologies to guide project from conceptualization to
                                    implementation and maintenance</li>
                                <li>Project estimation and timeline for the project drops in each of the
                                    environments. Interaction with different teams for Penetration Testing, Project
                                    Security Testing</li>
                                <li>Collaborates with business users, technical teams and testing teams, to analyse,
                                    gather, and validate requirements such as kick-off meetings, joint application
                                    designing and planning sessions</li>
                            </ul>
                        
                    </div>
                    <div class="resume-item">
                        <h4>Internship</h4>
                        <h5>02/2021 – 08/2021</h5>
                        <p><em>Codevision Technology Private Limited, Ahmdabad, India</em></p>
                        <p>
                            <ul>
                                <li>Experience with frontend Technology/Framework like Javascript, React, and
                                    Angular</li>
                                <li>Managed up to 2 projects or tasks at a given
                                    time while under pressure</li>
                                <li>Experience working with Team Members</li>
                            </ul>
                    </div>
                    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
                        <a (click)="downloadCV()" target="_blank" class="btn-about">Dowload CV</a>
                    </div>  
                </div>
            </div>   
        </div>
    </section><!-- End Resume Section -->
</main>

